.test {
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center center;
}
.test * {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 60px;
    font-family: "Lune";
    text-align: center;
}